{extend name='main'}

{block name="button"}{/block}

{block name="content"}
<div class="layui-tab layui-tab-card think-bg-white table-block">
    <ul class="layui-tab-title">
        {foreach ['all'=>'电费分摊凭证列表','recycle'=>'回 收 站 '.$data['total_amount'].'/'.$data['total_amount1']] as $k=>$v}
        {if isset($type) and $type eq $k}
        <li data-open="{:url('index')}?type={$k}" class="layui-this">{$v}</li>
        {else}
        <li data-open="{:url('index')}?type={$k}">{$v}</li>
        {/if}{/foreach}
    </ul>
    <div class="layui-tab-content think-box-shadow table-block table-block">
        {include file='voucher/index_search'}
        <table class="layui-table margin-top-10" lay-skin="line">
            {notempty name='list'}
            <thead>
                <tr>
                    <th class='list-table-check-td think-checkbox'>
                        <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
                    </th>
                    <th class='list-table-sort-td'>
                        <button data-reload class="layui-btn layui-btn-xs">刷 新</button>
                    </th>
                    <th class='text-left nowrap'>
                        <button data-modal='{:url("add")}' data-title="添加电费分摊凭证" data-totalamount="222"
                            class='layui-btn layui-btn-xs'><i class="layui-icon">&#xe616;</i> 添 加</button>
                    </th>
                    <th class='text-left nowrap'></th>
                    <th class='text-left nowrap'></th>
                    <th></th>
                </tr>
            </thead>
            {/notempty}
            <tbody>
                {foreach $list as $key=>$vo}
                <tr data-dbclick>
                    <td class='list-table-check-td think-checkbox'>
                        <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
                    </td>
                    <td class='list-table-sort-td'>
                        <label><input data-action-blur="{:request()->url()}"
                                data-value="id#{$vo.id};action#sort;sort#{value}" data-loading="false"
                                value="{$vo.sort}" class="list-sort-input"></label>
                    </td>
                    <td class='text-left nowrap'>

                    </td>
                    <td class='text-left nowrap'>

                    </td>
                    <td class='text-left nowrap'>

                    </td>
                    <td>
                        <!--{if auth("edit")}-->
                        <a data-dbclick class="layui-btn layui-btn-sm" data-title="编辑快递公司"
                            data-modal='{:url("edit")}?id={$vo.id}'>编 辑</a>
                        <!--{/if}-->

                        <!--{if auth("remove")}-->
                        <a class="layui-btn layui-btn-danger layui-btn-sm" data-confirm="确定要删除数据吗?"
                            data-action="{:url('remove')}" data-value="id#{$vo.id}">删 除</a>
                        <!--{/if}-->
                    </td>
                </tr>
                {/foreach}
            </tbody>
        </table>
        {empty name='list'}
        <button data-modal='{:url("add")}' data-title="添加电费分摊凭证" data-totalamount="222"
            class='layui-btn layui-btn-xs'><i class="layui-icon">&#xe616;</i> 添 加</button>
        <span class="notdata">没有记录哦</span>
        {else}
        {$pagehtml|raw|default=''}
        {/empty}
    </div>
</div>
{/block}